#main{
    width: 70%;
    height: 500px;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    
    gap: 10px;
}#detail{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: space-around; */
    gap: 30px;
}#smallimg{
    /* position:absolute;
    top: 500px; */
    width: 100px;
    display: grid;
    grid-template-columns: 30px;
    grid-template-rows: repeat(4,60px);
    justify-content: flex-end;
    gap: 0px 0px;
    margin-right: 10px;
}#smallimg>img{
    width: 40px;
    /* border: 1px solid #2d2d2d; */
}
#bigimg>img{
    width: 100%;
    /* border: 1px solid; */
    /* margin-left: -150px; */
}#bigimg{
    width: 370px;
    position: relative;

}#bigimg>button{
    position: absolute;
    top: 250px;
    color: #606060;
    background-color: transparent;
    border: transparent; 
    font-size: 40px;
    padding: 10px;
}

#bigimg>button:nth-child(3){
    /* position: absolute;
    top: 250px; */
    right: 0px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* padding: 0px 0px; */
    /* color: #606060;
    background-color: transparent;
    border: transparent; */
    /* width: 10px; */
   /* font-size: 40px; */
    /* left: 10px; */
}#bigimg>button:nth-child(2){
    /* position: absolute;
    top: 250px; */
    left: 0px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* width: 100px; */
    /* padding: 0px 0px; */
    /* background-color: transparent;
    border: transparent;
    color: #606060;
    font-size: 40px; */
    /* left: 10px; */
}
#addbag{
    padding: 10px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; 
    
}#addbag>div{
    display: flex;
}
#detail{
    width: 70%;
    margin: auto;
    font-family: "futura-pt-n4","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    font-weight: normal;
    border-bottom: 1px solid #999;
    color: #2d2d2d;
    
}h2{
    color: gray;
}#lowstockimg{
    width: 15px;
    margin-top: 2px;
    margin-right: 7px;
}#select+p{
    font-size: 20px;
    font-weight: bold;
}
#Addcart{
    color: white;
    background-color: #018849;
    border: transparent;
    letter-spacing: 1.5px;
    width: 76%;
    font-weight: bold;
}#like{
    width: 50px;
    height: 50px;
    background-color: rgb(190, 187, 187);
    border: transparent; 
    font-size: 30px;
    border-radius: 100%;
    margin-left: 5px;
}#like>img{
    width: 20px;
}
#select{
    margin-top: -15px;
    padding: 5px;
    font-size: 17px;
    width: 90%;
    border-radius: 0px;
}l{
    /* font-size: 20px; */
    margin-left: 10px ; 
    /* font-weight: bold; */
    color: #d01345;
    font-size: 20px;
    line-height: 1.1;
    /* letter-spacing: 0.8px; */
    font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
}#likediv{
    margin: auto;
    width: 80%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}#likediv>div>img{
width: 100%;
}#likeheading{
    text-align: center;
}a{
    text-decoration: none; 
    color: black;
    font-size: 12px;
}#share>img{
    width: 20px;
}#share{
    /* width: 100px;
    /* height: 100px; */
    margin-top:200px ;
    margin-left: -20px; 
    height: 20px;
    border: transparent;
    background-color: transparent;
}#deliverytruck{
    width: 20px;
    margin-right: 10px;
}#smallimg>div{
    position: absolute;
    top: 475px;
    left: 220px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 10px;
    border-radius: 10px;
}.facebook{
    width: 30px;
   margin: auto;
}