*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
                                                  /* main section */
#Main
{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:fixed;
    bottom: 0px;
    width: 100%;
    line-height: 2;
}
#social
{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:0%  30%;
    background-color: white;
    justify-content: space-evenly;
    gap: 40px;
    border: 1px solid #EEEEEE; 
    }


#social img
{
    width: 100%;
    height: 100%;
}

#social div:nth-child(1)
{
    width: 100%;
    height: auto;
    display: grid;
     grid-template-columns: repeat(3,35px);
    grid-template-rows:  auto;
    justify-content: space-evenly;
    gap: 40px;
}

#social div:nth-child(2)
{
    margin: auto;
}
#social div:nth-child(3)
{
    width: 100%;
    height: auto;
    display: grid;
     grid-template-columns: repeat(5,35px);
    grid-template-rows:  22px;
    justify-content: space-evenly;
    margin: auto;
    gap: 30px;
}
 #social>.icons>a 
{       
    border-radius: 50%;
    height: 32px;
  border: 1px solid white;
  margin-top: 15px;
}

#social>.icons>a img
{
    padding: 2px;
    border-radius: 50%;
}
#social>.icons>a:hover
{
  border: 1px solid blue;
}
a:hover
{
    color: rgb(0, 81, 255);
}
.container
{
    max-width: 100%;
    height: auto;
    margin: auto; 
}
ul
{
    list-style: none;
}
.row
{
    display: flex;
    flex-wrap: wrap;   
}
.footer
{
    background-color: #EEEEEE;  
    padding: 30px;
   
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    color:#666666;
    padding: 0px 0px 10px;
 
}        
.footer-col li,ul a
{
    font-size: 13px;
    text-decoration: none;
    color: #666666;

}
.footer img{
    width: 17px;
    height: 17px;
}
.bottom-details
{
background-color:#ddd;
padding: 15px;}

.bottom-details .bottom-text
{
    display: flex;
    justify-content: space-between;
    padding: 0px 90px; 
}
 .bottom-details .bottom-text span,
 .bottom-details .bottom-text a
{
    font-size: 12px;
    color:black ;
    opacity: 0.8;
    text-decoration: none;
}
.vr
{
border-left: 1px solid;
margin: 10px;
color: #666666;
}
.vrt
{
border-left: 2px solid;
height: 15px;
margin: 5px 10px;
color: #666666;

}
#country
{
 
    display: grid;
    grid-template-columns: 50px 10px 10px 20px;
    gap:10px;
   text-decoration: none;
}
#last a
{
    text-decoration: none;
}

@media all and (min-width:720px) and (max-width:1024px)
{   
    .container
{
    max-width: 100%;
    height: auto;
    margin: auto; 
} 


.footer-col
{
    width: 33%;
    padding: 0 15px;
}
.footer-col:last-child>h4
{
    color:#EEEEEE;
}
.footer-col:last-child
{
    width: 1024px;
}
#country
{
    width: 100;
    border-top: 2px solid #ddd;
    margin-bottom: -30px;
    padding: 10px 0px 0px 10px;
}
}
@media all and (min-width:480px) and (max-width:720px)
{    
  
.bottom-details
{
background-color:#ddd;
}

.bottom-details .bottom-text
{
    display: flex;
    justify-content: space-between;
    padding: 0px 90px; 
}
 .bottom-details .bottom-text span,
 .bottom-details .bottom-text a
{
    font-size: 12px;
    color:black ;
    opacity: 0.8;
    text-decoration: none;
}

}
